.section-credit{
    background-color: #fff;
    clip-path: ellipse(64% 72% at 52% 72%);    

}
.credit-h6 {
    color: #E23434;
    margin-top: 10%;

}

.Credit-Title {
    font-size: xx-large;
    font-weight: 800;
    color: #857885;


}

.Credit-Title p {
    color: #5C0E62;
}

.Credit-p {
    width: 80%;
    color: #857885;
}
.smallbg{
    width: 100px;
    height: 100px;
    background-color: #F7F3FA;
    border-radius: 69% 31% 23% 77% / 59% 32% 68% 41% ;
    transform: translate(300%,-1100%);
    opacity: 0.5;
}

.tablet-img {
    width: 50%;
    height: 100%;

}

.profile-img {
    width: 9rem;
    height: 9rem;
}

.profile-img:nth-child(1) {
    border-radius: 50% 50% 49% 51% / 59% 71% 29% 41%;
margin-left: 40%;
}

.profile-img:nth-child(2) {
    border-radius: 28% 72% 60% 40% / 59% 53% 47% 41%;
}

.profile-img:nth-child(3) {
    border-radius: 45% 55% 47% 53% / 22% 57% 43% 78% ;
    margin-left: 20%;
    margin-top: -20%;

}

.profile-img:nth-child(4) {
    border-radius: 55% 45% 56% 44% / 58% 31% 69% 42% ;
    
}

.profile-img:nth-child(5) {
    border-radius: 28% 72% 44% 56% / 68% 50% 50% 32%  ;
}

.smallbg-S{
    width: 100px;
    height: 100px;
    background-color: #F7F3FA;
    border-radius: 69% 31% 23% 77% / 59% 32% 68% 41% ;
    transform: translate(700%,-300%);
    opacity: 0.5;
}
@media only screen and (max-width: 600px) {
    .section-credit{
        background-color: #fff;
        clip-path: inset(0 0 0 0);    
    }
    .tablet-img {
        transform: scaleX(-1);
        margin-left: 20%;
    }

    .Credit-p {
        width: 100%;
    }
    .profile-img {
        width: 5rem;
        height: 5rem;
    }
    
    .profile-img:nth-child(1) {
    margin-left: 29%;
    }
    .profile-img:nth-child(3) {
        margin-left:5%;
        margin-top: -25%;
    
    }
    

}